{%extends 'rep/base.html'%}
{%block content%}
<center><h2>{%block title%}Editar repuesto{%endblock%}</h2></center>
<form class="form-control d-grid p-4" action="/editar_repuesto/{{repuesto.id}}" method="POST">
    <input class="text-center mr-2" type="text" name="modelo" value="{{repuesto.modelo}}" required>
    <input class="text-center mr-2" type="text" name="marca" value="{{repuesto.marca}}" required>
    <input class="text-center mr-2" type="text" name="repuesto" value="{{repuesto.repuesto}}" required>
    <input class="text-center mr-2" type="text" name="precio" value="{{repuesto.precio}}" required>
    <button class="btn btn-primary" type="submit">Actualizar</button>
</form>
<div class=" text-center p-4">
    <a class="btn btn-primary" href="{{url_for('repuestos')}}"><< Volver >></a>
</div>
<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p>&copy; 2025 PhoneExpress. Todos los derechos reservados.</p>
    </div>
</footer>
{%endblock%}